/**
 * To make the page height 100%.
 */
html, body {
	margin: 0;
	height: 100%;
}

.main {
	height: 100%;
	/* Make sure that the footer height and the padding-bottom match */
	padding-bottom: 2em;
	overflow: hidden;
	min-width: 960px;
}

/**
 * Footer.
 */
.footer {
	position: absolute;
	height: 2em;
	width: 100%;
	bottom: 0;
	text-align: center;
	background-color: #F5F5F5;
	border-top: 1.5px solid #18121E;
	min-width: 960px;
}

/**
 * Header and logo.
 */
.header {
	height: 20%;
	background-color: #F5F5F5;
	border-bottom: 1.5px solid #18121E;
	padding-bottom: 0.5em;
	min-height: 120px;
}

/* Logo created using Microsoft Word */
.logo {
	background: url("../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin: 0px 0 0 10px;
	max-width: 190px;
	min-width: 190px;
	height: 100%;
}

.header-content {
	font-family: 'PlayfairDisplay';
	padding-left: 20%;
	width: auto;
	height: 100%;
}

.header-search {
	height: 30%;
}

.header-search-select {
	width: 25%;
	float: left;
	padding-right: 1em;
}

.header-search-input {
	width: calc(75% - 6.5em);
	float: right;
	padding-right: 1em;
}

.header-search-submit {
	width: 6em;
	float: right;
	padding-right: 1em;
}

.btn-search {
	width: 100%;
}

.header-menu {
	height: 70%;
}

.menu-item {
	float: right;
	padding-top: 1.7em;
	text-align: right;
	padding-right: 1em;
	font-size: 1.5em;
	text-decoration: underline;
}

.menu-item a {
	color: #0F1626;
}

/**
 * Content.
 */
.content-body {
	height: 80%;
	overflow: auto;
}

.content-left {
	float: left;
	width: 33%;
}

.content-right {
	float: right;
	width: 33%;
}

.content-center {
	float: right;
	width: 34%;
}

/**
 * Overrides.
 */
.btn-primary {
	background-color: #0F1626;
	border-color: #0F1626;
}

/**
 * Responsive design
 */

@media only screen and (max-width: 768px) {
	.main {
		min-width: 768px;
	}

	.header-search-input {
		width: calc(75% - 9em);
	}

	.footer {
		min-width: 768px;
	}
}

@media only screen and (max-width: 320px) {
	.main {
		min-width: 320px;
	}

	.header {
		height: 25%;
		min-height: 210px;
	}

	.footer {
		min-width: 320px;
	}

	.logo {
		display: none;
	}

	.header-menu {
		height: 30%;
	}
	.menu-item {
		padding-top: 1em;
	}

	.header-search {
		height: 70%;
		padding-top: 1em;
	}

	.header-content {
		padding-left: .5em;
	}

	.header-search-select {
		width: 100%;
		float: none;
		padding-bottom: 1em;
		padding-right: .5em;
	}
	
	.header-search-input {
		width: calc(100% - 6.5em);
		float: left;
		padding-right: .5em;
	}
	
	.header-search-submit {
		width: 6em;
		padding-right: .5em;
	}
}