.inputlabel {
    display: inline-block;
    margin-bottom: .5rem;
	
     font-weight: 400;
}
.profiledetails,
.header{
	    margin: 0.59rem;
}
.profileinputtext {
    width: -webkit-fill-available;
    display: block;
    overflow: visible;
    padding: .37rem .7rem;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.header{
	    font-size: 2.5em;
    /* margin-bottom: .5rem; */
    font-weight: 500;
   /*  -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em; */
    /* -webkit-margin-start: 0px; */
    /* -webkit-margin-end: 0px; */
    text-align: left;
	
     font-family: "Montserrat", sans-serif;
}

.inputgroup {
    margin-bottom: 1rem;
    flex: 1;
    margin: 5px;
}

@media (min-width: 600px)
.inputgroup {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.profileeditrowgroup{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.profilebuttoncancel, .profilebuttonsave{
	    min-width: 95px;
     float: right;
    margin: 5px;
}

.profilebuttoncancel:hover {
    color: #EECA50;
    background-color:#313030;
    border-color: #444444;
}
.profilebuttoncancel {
    background-color: #444444;
    border-color: #444444;
}
.profilebuttonsave:hover {
    color: #EECA50;
    background-color: #105e35;
    border-color: #10693B;
}
.profilebuttonsave {
    background-color: #10693B;
    border-color: #10693B;
}

.bodyelement {
    height: 80.5vh;
}